ul.horizontal-list {
    list-style: none;
}

ul.horizontal-list li {
    display: inline-block;
    padding: 0 0.5rem;
}

h1 {
    color: brown;
}

.newpack {
    background-color: brown;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    background-color: #1e2a2d;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.booster {
    transform-style: preserve-3d;
    background: none;
}

.card {
    transform-style: preserve-3d;
    background: none;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-left: -1px;
    border-radius: 10px;
}