h1 {
    color: brown;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #1e2a2d;
}

.booster-opening {
    width: 100%;
    padding: 15px;
}


/*
    Misc
        - The container class that contains the element.
        - The button for opening a new pack
*/


.newpack-button {
    background-color: brown;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*
    The container that is responsible of the perspective effect
*/

.perspective-container {
    perspective: 250px;
    width: 150px;
}


/*
    Boosters
*/
.booster {
    transform-style: preserve-3d;
    background: none;
}


/*
    Cards
*/
.card-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards_list {
    width: 100%;
}

.card {
    overflow: hidden;
    transform-style: preserve-3d;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-left: -1px;
    border-radius: 10px;
}

/*
    Glare Effect:
        the "light" around the cursor
*/
.glare {
    position: absolute;
    pointer-events: none;
    opacity: 100;
    width: 300px;
    height: 300px;
    /* background: white; */
    background: radial-gradient(#ffffffbb, #77777700 70%);
    top: calc(var(--y, 0) * 1px - 50%);
    left: calc(var(--x, 0) * 1px - 50%);
}

/*
    Holographic effect
*/

.holo::after {
    background-image: url("../../assets/images/holo/galaxy.png");
    background-repeat: repeat;
    mix-blend-mode: exclusion, hue, hard-light;
    background-position-x: 0;
    background-position-y: 0;
}


/* 
    Debug 
*/

.debug {
    display: contents;
    pointer-events: none;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: calc(var(--y, 0) * 1px - 5px);
    left: calc(var(--x, 0) * 1px - 5px);
}

.debug-red {
    background-color: rgb(238, 7, 7);
}

.debug-green {
    background-color: rgb(45, 238, 7);
    /* background: radial-gradient(#ffffffbb, #77777700 70%); */
}