h1 {
    color: brown;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #1e2a2d;
}

.booster-opening {
    width: 100%;
    padding: 15px;
}

/*
    The container that is responsible of the perspective effect
*/

.perspective-container {
    perspective: 500px;
}


/*
    Boosters
*/
.booster {
    transform-style: preserve-3d;
    background: none;
}


/*
    Cards
*/
.card-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
}

.cards_list {
    width: 100%;
}

.card_3D {
    width: 245px;
    height: 342px;
    overflow: hidden;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-left: -1px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--xAxis, 0)* 1deg)) rotateX(calc(var(--yAxis, 0)* -1deg));
}

.imgtest {
    display: none;
}

/*
    Glare Effect:
        the "light" around the cursor
*/
.glare {
    position: absolute;
    overflow: hidden;
    opacity: 100;
    width: 100px;
    height: 100px;
    background: radial-gradient(#ffffff60, #77777700 70%);
    top: calc(var(--yGlare, 0) * 1px - 50px);
    left: calc(var(--xGlare, 0) * 1px - 50px);
    mix-blend-mode: lighten;
    padding: 0;
    margin: 0;
}

/*
    Holographic effect
*/

@keyframes taadaa {
    0% {
        opacity: 50%;
    }

    100% {
        opacity: 0;
    }
}

.booster {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin: 30px;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--xAxis, 0)* 1deg)) rotateX(calc(var(--yAxis, 0)* -1deg));
    width: 200px;
}

.booster-number {
    color: rgba(255, 255, 255, 0.5);
}


.holo {
    --space: 4%;
    --holoPattern: url("../../assets/images/holo/cardShine.svg");
    --holoFoil:
        repeating-linear-gradient(
            82deg,
            rgba(174, 102, 202, 0.75) calc(var(--space) * 1),
            rgba(228, 77, 72, 0.75) calc(var(--space) * 2),
            rgba(216, 197, 55, 0.75) calc(var(--space) * 3),
            rgba(124, 201, 62, 0.75) calc(var(--space) * 4),
            rgba(80, 177, 170, 0.75) calc(var(--space) * 5),
            rgba(136, 160, 255, 0.75) calc(var(--space) * 6),
            rgba(176, 105, 204, 0.75) calc(var(--space) * 7)
        );
    width: 400%;
    height: 400%;
    background-image: var(--holoPattern), var(--holoFoil);
    background-repeat: repeat;
    pointer-events: none;
    background-position: center center, calc(20% + var(--HoloShiftW, 0)*50%) calc(var(--HoloShiftH, 0)*100%);
    position: absolute;
    background-size: cover, 400% 900%, cover;
    top: 0px;
    left: 0px;
    opacity: 35%;
    background-blend-mode: color-dodge;
    mix-blend-mode: lighten;
    filter: brightness(calc((var(--hyp) * 0.3) + 0.6)) contrast(2.3) saturate(1.1);
}


.arc-container {
    position: relative;
    width: 200px; /* Adjust container width as needed */
    height: 200px; /* Adjust container height as needed */
}

.arc-item {
    position: absolute;
    transform: translate(-50%, -50%);
}



/* 
    Debug 
*/

.debug {
    display: contents;
    pointer-events: none;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: calc(var(--y, 0) * 1px - 5px);
    left: calc(var(--x, 0) * 1px - 5px);
}

.debug-red {
    background-color: rgb(238, 7, 7);
}

.debug-green {
    background-color: rgb(45, 238, 7);
    /* background: radial-gradient(#ffffffbb, #77777700 70%); */
}